{% extends 'unified_communications/base.html' %}
{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 25rem;">
        <h3 class="text-center mb-4">Forgot your password?</h3>
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

            <form id="reset-form" method="POST" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <div>
                        <label for="username" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" autocomplete="email" required="" id="id_email" placeholder="Enter your email address">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-block" id="submit-btn">Submit</button>
                </div>
            </form>
            <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</div>

<script>
document.getElementById('submit-btn').addEventListener('click', function () {
    const btn = this;
    const form = document.getElementById('reset-form');

    btn.disabled = true;

    // Let DOM update before the form is submitted
    requestAnimationFrame(() => {
        form.requestSubmit(); 
    });
});
</script>

{% endblock content %}